# Python
__pycache__/
*.py[codz]
*$py.class

# Virtual environments
.venv/
venv/
ENV/
env/

# Jupyter
.ipynb_checkpoints/

# Packaging
build/
dist/
*.egg-info/

# Logs & caches
*.log
.cache/
.pytest_cache/

# Env files
.env
.envrc
data/inventory.db
